<%- include("partials/header") -%>


    <!-- <div>
        <h1>Finished Setting Up</h1>
        <p>To wirelessly control your mirror, here is the link.</p>
        <hr>
        <p>
            <p>Make sure that you are connected to the same network.</p>
            <p>Link: </p>
            <a class="btn" href="/done" role="button">Done!</a>
        </p>
      </div> -->

      <div>
        <h1>Finished Setting Up!</h1>
        <hr>
        <p>
            <a class="btn" href="/done" role="button">Done!</a>
        </p>
      </div>

<%- include("partials/footer") -%>
