<%- include("partials/header") -%>

    <!-- <div class="jumbotron">
        <h1 class="display-4">Finished Setting Up</h1>
        <p class="lead">To wirelessly control your mirror, here is the link.</p>
        <hr class="my-4">
        <p class="lead">
            <p class="lead">Make sure that you are connected to the same network.</p>
            <p class="lead">Link: </p>
            <a class="btn btn-primary btn-lg" href="/done" role="button">Done!</a>
        </p>
    </div> -->

   <div>
        <h1>Finished Setting Up!</h1>
        <hr>
        <p>
            <a class="btn" href="/done" role="button">Done!</a>
        </p>
    </div>

<%- include("partials/footer") -%>
