<%- include("partials/header") -%>

<div class="center">
  <h2>Welcome</h2>
  <h2>To</h2>
  <h1>SmartMirror</h1>
  <p class="">Let's get started with the setup process.</p>
  <hr>
  <p class="">
    <a class="btn" href="/wifi" role="button">Next</a>
  </p>
</div>

<%- include("partials/footer") -%> 